API_ID=15754950 # get this value from my.telegram.org
API_HASH=ef4108c7521a6a2d866aa9f517fa57eb # get this value from my.telegram.org
BOT_TOKEN=6111142692:AAErRTHyUpq-f5aY3IvNgtdTWmhHUuDbFWo # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://music:music@cluster0.sh6h4.mongodb.net/myFirstDatabase?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001926692319 # get this value from in your log group 
MUSIC_BOT_NAME=QaqawMusic # your music bot name 
STRING_SESSION=1ApWapzMBux3fyxs6IyASsa4JbSh3SFfS0WvEfW2CUZRBvoqd9wTZbPjHcoZ292sQ6F2E4lAL9vsT3JYqx-YXLkD8XZTmDv_yBCrAfDZ2yRwufd2lP-RurvqAr2zvXa--z1sY0nRwRbayMOSGxZTrMX3I8q0YRohRSkfCJMHkpR532hbvGEFR2bVn3xLmFS8LrhEgLLZDKII07AGq5F0T6vVhD3eD_l8WGnKrFqqEoMgAr_u3SVVnZvo17dkXsbAALDL8IQhrCqtXmCiesTZTh50D11NDJN26fmleOPv_2JihQj8STRZR-FOOqmtL6-SQNVAoBIXGA9V7W346oW205ozrXvpeOiA= # get this value from @yukkistringbot
